page-login {
    
    ion-content{
        background-color: transparent !important;
        background-image: url(../assets/imgs/img_login.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
    }
}
