.image-counter, .image-uploaded {
    max-width: 361px;
    width: 80%;
    display: block;
    margin: 0 auto;
}


section.section-checkout {
    h1 {
        width: 80%;
        display: block;
        margin: 20px auto;
        color: #212424;
        text-align: center;
        line-height: 32px;
        font-size: 32px;
    }
    p {
        width: 80%;
        display: block;
        margin: 20px auto;
        color: #575959;
        text-align: center;
    }
    .order-number {
        color:#212424;
        font-size: 40px;
    }
    .icon-ckeck {
        width: 80px;
        display: block;
        margin: 30px auto;
    }
}

img.logoLeft {
    margin: 20px;
    width: 50px;
}

.inputUploadFile {
    opacity: 0;
    height: 66px;
    top: -41px;
    position: relative;
    cursor: pointer;
}