body {
    background-color: rgb(255, 255, 255);
}

button {
    &:active, &:focus {
        outline: none;
    }
}

.btn-primary {
    max-width: 314px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: none;
    background: #F07624;
    color: white;
    padding: 17px 0px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 14px;
}

.btn-primary:hover {
    background: transparent;
    color: #F07624;
    border: 1px solid #F07624;
}

section h1 {
    width: 80%;
    display: block;
    margin: 20px auto;
    color: #212424;
    line-height: 32px;
    font-size: 32px;
}

section p {
    width: 80%;
    display: block;
    margin: 20px auto;
    color: #575959;
}